[mcu]
serial: /dev/serial/by-id/usb-Klipper_same70q20b_00313853314B51353235303235303331-if00

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 4000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[adc_scaled vref_scaled]
vref_pin: PC0
vssa_pin: PC13

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0

[stepper_x]
#driver 0 port to b
step_pin = PC18
dir_pin = !PB5
enable_pin = !PA9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: EBBCan: PB6
position_min: 0
position_endstop: 250
position_max: 250
homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: PD17
spi_bus: usart1
chain_position:1
chain_length:6
interpolate: False
run_current: 0.8
sense_resistor: 0.05
diag0_pin: ^!PD29
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin = PC16
dir_pin = !PD10
enable_pin = !PA9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PD25 #io0
position_min: 0
position_endstop: 255
position_max: 255
homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PD17
chain_position:2
chain_length:6
interpolate: False
run_current: 0.8
sense_resistor: 0.05
diag0_pin: ^!PC17
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
#driver2 port to z0
step_pin: PC28
dir_pin: !PA4
enable_pin: !PA9
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 230
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0

[tmc5160 stepper_z]
cs_pin: PD17
chain_position:3
chain_length:6
interpolate: False
run_current: 0.8
sense_resistor: 0.05
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
#driver3 to z1
step_pin: PC1
dir_pin: PA22
enable_pin: !PA9
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc5160 stepper_z1]
cs_pin: PD17
chain_position:4
chain_length:6
interpolate: False
run_current: 0.8
sense_resistor: 0.05
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
#driver4 to z2
step_pin: PC4
dir_pin: !PC3
enable_pin: !PA9
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc5160 stepper_z2]
cs_pin: PD17
chain_position:5
chain_length:6
interpolate: False
run_current: 0.8
sense_resistor: 0.05
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
#driver5 to z3
step_pin: PC9
dir_pin: PD14
enable_pin: !PA9
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc5160 stepper_z3]
cs_pin: PD17
chain_position:6
chain_length:6
interpolate: False
run_current: 0.8
sense_resistor: 0.05
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA16
sensor_type: Generic 3950
pullup_resistor: 2200
sensor_pin: PC29
max_power: 0.6
min_temp: 0
max_temp: 120

#####################################################################
#   Fan Control
#####################################################################

[controller_fan controller_fan_right]
##  Controller fan - FAN2
kick_start_time: 0.5
heater: extruder
fan_speed: 1.0
pin: PA12

[controller_fan controller_fan_left]
##  Controller fan - FAN2
kick_start_time: 0.5
heater: extruder
fan_speed: 1.0
pin: PC8

[heater_fan exhaust_fan]
##  Exhaust fan - FAN3
pin: PA15
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: extruder
heater_temp: 60
fan_speed: 0.10

#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
[neopixel caselight]
pin: PD16
chain_count: 36
color_order: GRB

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
home_xy_position:125,125
speed:200
z_hop:10

[quad_gantry_level]
gantry_corners:
   -60,-10
   310, 320
#  Probe points
points:
   15,5
   15,200
   235,200
   235,5


#--------------------------------------------------------------------
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

######################
# Bed Settings #
######################

[bed_mesh]
speed: 300                           # Kann mit Cartographer sehr hoch sein
horizontal_move_z: 5
mesh_min: 30, 30
mesh_max: 220, 220                   # Bei 250mm Bett, minus Rand
probe_count: 15,15
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2
adaptive_margin: 5
zero_reference_position: 125, 125

########################################
# ebb36
########################################

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: a9bac24414ca

[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
gear_ratio: 9:1
rotation_distance: 47.766
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: ATC Semitec 104GT-2
sensor_pin: EBBCan: PA3
min_temp: 0
max_temp: 270
pressure_advance: 0.035
pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 101
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.6
stealthchop_threshold: 0

[fan]
pin: EBBCan: PA0

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 50.0

########################################
# Cartographer
########################################

[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
canbus_uuid: f4afbe93a859

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 23 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: yes # For extra output

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

#####################################################################
#  Input Shaper (via Cartographer)
#####################################################################

[adxl345]
cs_pin: cartographer:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    125, 125, 20  # In der Mitte deines 250mm Betts, 20mm hoch
    
########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,#####################################################################
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   Macros
#####################################################################

[gcode_macro G32]
gcode:
    # Prüfen ob bereits gehomed, sonst vollständiges Homing
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    QUAD_GANTRY_LEVEL
    G28 Z  # Nur Z erneut homen nach QGL für höhere Genauigkeit

[gcode_macro PRINT_START]
gcode:
    # Parameter aus Slicer holen und validieren
    {% if params.BED is not defined or params.EXTRUDER is not defined %}
        {action_raise_error("FEHLER: BED und EXTRUDER Parameter sind erforderlich!")}
    {% endif %}
    
    {% set target_bed = params.BED|int %}
    {% set target_extruder = params.EXTRUDER|int %}
    {% set target_chamber = params.CHAMBER|default("40")|int %}
    {% set preheat_temp = 150 %}  # Vorwärmtemperatur für Nozzle
    {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

    # 1. Homing und QGL (G32 macht beides)
    STATUS_HOMING
    G32
    G90  # Absolute Positionierung

    # 2. Bett heizen, Nozzle vorwärmen
    BED_MESH_CLEAR
    STATUS_HEATING
    M104 S{preheat_temp}  # Nozzle auf 170°C vorwärmen (verhindert Oozing)
    M190 S{target_bed}    # Warten auf Bett-Temperatur
    
    # Heat-Soak für hohe Bett-Temperaturen (>79°C)
    {% if params.BED|int > 79 %}
        SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"
        STATUS_HEATING
        M106 S255  # Part-Cooling-Fan für Luftzirkulation

        ##  Uncomment if you have a Nevermore
        #SET_PIN PIN=nevermore VALUE=1

        G1 X{x_wait} Y{y_wait} Z15 F9000
        M190 S{target_bed}
        SET_DISPLAY_TEXT MSG="Soak for 5min"
        G4 P300000  # 5min Heat-Soak
    {% else %}
        SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"
        STATUS_HEATING
        G1 X{x_wait} Y{y_wait} Z15 F9000
        M190 S{target_bed}
        # Kein Soak für PLA/niedrige Temps
    {% endif %}

    # 3. Nozzle-Reinigung bei Vorwärmtemperatur
    SET_DISPLAY_TEXT MSG="Cleaning Nozzle"
    M109 S{preheat_temp}  # Sicherstellen dass Temperatur erreicht ist
    NOZZLE_WIPE

    # 4. Cartographer Touch für exakten Z-Nullpunkt
    SET_DISPLAY_TEXT MSG="Calibrating Z"
    STATUS_CALIBRATING_Z
    SET_GCODE_OFFSET Z=0  # Offset zurücksetzen vor Touch
    CARTOGRAPHER_TOUCH_HOME

    # 5. Adaptive Bed Mesh
    SET_DISPLAY_TEXT MSG="Bed mesh"
    STATUS_MESHING
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE ADAPTIVE=1

    # 6. Auf Druck-Temperatur heizen
    SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"
    STATUS_HEATING
    G1 X{x_wait} Y{y_wait} Z15 F9000
    M107  # Part-Cooling-Fan aus
    M109 S{target_extruder}  # Warten auf Extruder-Temperatur
    
    # 7. Purge und Start
    G11  # Firmware Un-Retract
    PURGE_BLOB
    STATUS_PRINTING
    SET_DISPLAY_TEXT MSG="Printing..."

[gcode_macro PRINT_END]
gcode:
    # Safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400  # Warten bis alle Moves abgeschlossen sind
    G92 E0  # Extruder nullen
    G10  # Firmware Retract
    
    TURN_OFF_HEATERS
    
    G90  # Absolute Positionierung
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  # Anti-stringing move
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  # Park mittig hinten
    M400  # Warten bis Parking abgeschlossen
    M107  # Part-Cooling-Fan aus
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    STATUS_PART_READY
    SET_DISPLAY_TEXT MSG="Print complete!"

[gcode_macro PURGE_BLOB]
description: Optimierter Purge Blob mit korrekter Retraction
gcode:
    # Einstellungen
    {% set x = 10 %}
    {% set y = 10 %}
    {% set z = 0.4 %}
    {% set purge_amount = 8 %}
    {% set retract = 0.5 %}
    {% set flow_rate = 600 %}  # Erhöht von 300 auf 600 für schnelleren Purge

    # Sicherheits-Check
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

    SAVE_GCODE_STATE NAME=PURGE_BLOB_STATE
    
    G90  # Absolute Positionierung für Moves
    M83  # RELATIVE Extrusion (wichtig für G10/G11)
    G92 E0  # Extruder nullen

    # Anfahren
    G1 Z5 F3000
    G1 X{x} Y{y} F9000
    G1 Z{z} F1200

    # Blob extrudieren
    G1 E{purge_amount} F{flow_rate}
    G4 P500  # Kurz warten für Druckausgleich

    # Retract & Wipe
    G1 E-{retract} F1800
    G1 X{x+5} F9000  # Wisch nach rechts
    G1 Z5 F3000  # Z anheben
    G1 X{x+20} F9000  # Wegfahren

    # Aufräumen
    G92 E0
    RESTORE_GCODE_STATE NAME=PURGE_BLOB_STATE
    M82  # Zurück zu ABSOLUTER Extrusion für Slicer

[firmware_retraction]
retract_length: 0.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[include stealthburner_leds.cfg]
[include mainsail.cfg]
[exclude_object]
[include NOZZLE_WIPE.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 68.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 49.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.744
#*# pid_ki = 1.299
#*# pid_kd = 304.038
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 37.242
#*# pid_ki = 4.966
#*# pid_kd = 69.830
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.624731534778446,2.113081105763712,0.860814345344067,0.3796298853078942,0.21856509081281544,0.24422794943150505,0.02846055399475744,-0.11412547984156397,0.07308788998158734,0.0845665486642135
#*# domain = 3.3042931712669007e-07,3.3524469505379566e-07
#*# z_offset = 0
#*# reference_temperature = 40.61
#*# software_version = 1.7.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.234773, -0.212006, -0.196832, -0.189243, -0.189243, -0.189243, -0.181753, -0.166815, -0.166815, -0.166815, -0.166815, -0.151969, -0.151969, -0.159304, -0.170540
#*# 	-0.212006, -0.189243, -0.174266, -0.174266, -0.174266, -0.166659, -0.151969, -0.137029, -0.144559, -0.137029, -0.137029, -0.126004, -0.122336, -0.129673, -0.137029
#*# 	-0.204440, -0.181753, -0.166815, -0.155598, -0.151969, -0.144559, -0.129673, -0.115017, -0.115017, -0.115017, -0.115017, -0.100351, -0.085760, -0.093005, -0.107701
#*# 	-0.196832, -0.174266, -0.151891, -0.144420, -0.137029, -0.129673, -0.107701, -0.093156, -0.089458, -0.093005, -0.085760, -0.064121, -0.056949, -0.064121, -0.071461
#*# 	-0.189243, -0.159382, -0.137029, -0.122489, -0.115017, -0.107701, -0.085760, -0.071326, -0.064121, -0.064121, -0.056949, -0.035392, -0.024876, -0.028425, -0.035525
#*# 	-0.181753, -0.151814, -0.122336, -0.107701, -0.104061, -0.085912, -0.064121, -0.049795, -0.042644, -0.039085, -0.028291, -0.000036, 0.010541, 0.006977, -0.000036
#*# 	-0.159382, -0.129673, -0.103992, -0.093156, -0.085760, -0.064121, -0.042644, -0.028291, -0.014129, -0.007081, -0.000036, 0.028058, 0.048854, 0.041929, 0.035002
#*# 	-0.144420, -0.114864, -0.085912, -0.071326, -0.056949, -0.042510, -0.014129, -0.000036, 0.013973, 0.020966, 0.034886, 0.062696, 0.083298, 0.076471, 0.076357
#*# 	-0.122336, -0.089382, -0.064121, -0.042644, -0.035392, -0.014129, 0.014104, 0.034886, 0.048724, 0.055748, 0.069499, 0.096916, 0.117327, 0.110469, 0.110469
#*# 	-0.100420, -0.071326, -0.035459, -0.014262, -0.007081, 0.014038, 0.048854, 0.069499, 0.076357, 0.090122, 0.103694, 0.137494, 0.150854, 0.157504, 0.150854
#*# 	-0.078602, -0.049660, -0.014129, 0.006977, 0.020966, 0.041929, 0.076357, 0.096916, 0.103694, 0.117215, 0.134027, 0.170769, 0.190654, 0.197224, 0.190654
#*# 	-0.064121, -0.024743, 0.006977, 0.028058, 0.041929, 0.062639, 0.096803, 0.120586, 0.130671, 0.144175, 0.164151, 0.203765, 0.229803, 0.236282, 0.229851
#*# 	-0.049660, -0.007214, 0.028058, 0.048854, 0.069499, 0.096803, 0.124070, 0.144175, 0.160827, 0.177386, 0.203669, 0.236377, 0.268520, 0.268520, 0.268520
#*# 	-0.028425, 0.013973, 0.048854, 0.072985, 0.090122, 0.117215, 0.157504, 0.177482, 0.190654, 0.210304, 0.242746, 0.278130, 0.306693, 0.312957, 0.312996
#*# 	-0.021194, 0.017469, 0.055748, 0.083298, 0.100305, 0.137382, 0.170769, 0.197114, 0.216814, 0.236282, 0.255709, 0.300389, 0.331846, 0.338131, 0.338131
#*# min_x = 30.0
#*# min_y = 30.0
#*# max_x = 220.0
#*# max_y = 220.0
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
